/* normal*/
$pager-font-size: 1rem;
$pager-dropdown-padding:0.50rem 0.40rem 0rem 0rem;
$pager-drop-down-width: 2.0rem;
$pager-page-range-padding: 0.50rem 0.50rem 0rem 0.50rem;
$pager-page-size-margin-right: 10px;

/* large sizing*/
$pager-padding-lg: 0.50rem 0.75rem;
$pager-font-size-lg: 1.15rem;
$pager-line-height-lg: 1.5;
$pager-border-radius-lg: 5px;

/* small sizing */
$pager-padding-sm:0.25rem 0.50rem;
$pager-font-size-sm:0.90rem;
$pager-line-height-sm:1.0rem;
$pager-border-radius-sm: 0rem;
