@import "../lib/bootstrap/scss/functions";
@import "../lib/bootstrap/scss/variables";
@import "../lib/bootstrap/scss/mixins";
@import "./pager-variables-sizing";
@import "./pager-mixins";

$background: #007bff;
$border: #dee2e6;
$color: white;

li.page-item.pager-range {
    border-color: $border;
}

li.pager-range {
    @include pager-colors($background,$color,$border);
}
