@import "../lib/bootstrap/scss/functions";
@import "../lib/bootstrap/scss/variables";
@import "../lib/bootstrap/scss/mixins";

@import "./pager-variables-sizing";
@import "./pager-mixins";

li.page-item.pager-range {
    padding: 0.50rem 0.75rem;
    margin-right: 2px;
    line-height: 1.15;
    text-align: center;
}

li.pager-dropdown {
    width: 2rem;
    padding: .5rem .4rem 0 0;
    line-height: 1.25;
    border: 1px solid;
    border-color: gray("300");
    text-align: center;
}
li.page-item {
}

li.page-item > span > a {
}

li.pager-dropdown {
}

li.pager-page-size {
}

input.pager-page-size {
}

li.pager-page-size > span {
}


li.pager-dropdown > span > span > a.dropdown-item {
}

li.pager-dropdown > span.dropdown:hover > .dropdown-menu {
}

li.pager-dropdown > span.dropdown > .dropdown-toggle:active {
    /*?? Without this, clicking will make it sticky ??*/
    /*pointer-events: none;*/
}

li.pager-dropdown > span.dropdown > span.dropdown-menu {
}

.list-pager-lg {
    @include list-pager-size('lg', $pager-padding-lg, $pager-font-size-lg, $pager-line-height-lg, $pager-border-radius-lg)
}

.list-pager-sm {
    @include list-pager-size('sm', $pager-padding-sm, $pager-font-size-sm, $pager-line-height-sm, $pager-border-radius-sm)
}
