@import "../lib/bootstrap/scss/functions";
@import "../lib/bootstrap/scss/variables";
@import "../lib/bootstrap/scss/mixins";
@import "./pager-variables-sizing";
@import "./pager-mixins";



/*.page-link {
    &:hover {
        border-color: red;
    }
}

li.page-item > span > a {
    &:hover {
        border-color: green;
    }
}*/
/*li.pager-item {
    @include pager-colors($pagination-bg, $pagination-color, $pagination-border-color);
}*/
/*li.pager-range {
    @include pager-colors($pagination-bg, $pagination-color, $pagination-border-color);
}

li.pager-dropdown {
    background-color: $pagination-bg;
    border-color: $pagination-border-color;
    @include pager-colors($pagination-bg, $pagination-color, $pagination-border-color);
}

li.pager-page-size {
    color: $pagination-color;
}*/
input.pager-page-size {
    /*@include pager-colors($pagination-bg, $pagination-color, $pagination-border-color);*/
}


li.pager-dropdown > span > span > a.dropdown-item {
    /*color: $pagination-color;*/
}

/*@import "../lib/bootstrap/scss/pagination";*/
