@import "../lib/bootstrap/scss/functions";
@import "../lib/bootstrap/scss/variables";
@import "../lib/bootstrap/scss/mixins";
@import "./pager-variables-sizing";
@import "./pager-mixins";

li.pager-range {
    position: relative;
    display: block;
    line-height: $pagination-line-height;
    border: $pagination-border-width solid;
    padding: $pager-page-range-padding;
}

li.pager-dropdown {
    width: $pager-drop-down-width;
    padding: $pager-dropdown-padding;
    line-height: $pagination-line-height;
    border: $pagination-border-width solid;
}

li.pager-page-size {
    position: relative;
    display: block;
}

input.pager-page-size {
    position: relative;
    border: $pagination-border-width solid;
    top: 2px;
    font-size: $pager-font-size;
}

li.pager-page-size > span {
    line-height: $pagination-line-height;
    font-size: $pager-font-size;
    margin-right: $pager-page-size-margin-right;
}


li.pager-dropdown > span > span > a.dropdown-item {
    margin-top: 1px;
}

li.pager-dropdown >span.dropdown:hover > .dropdown-menu {
    display: block;
    top: 90%;
    padding:0.1rem 0.1rem;
}

li.pager-dropdown > span.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    /*pointer-events: none;*/
}

li.pager-dropdown > span.dropdown > span.dropdown-menu {
    top: 200%;
    transition: 0.3s all ease-in-out;
}

.list-pager-lg {
    @include list-pager-size('lg', $pager-padding-lg, $pager-font-size-lg, $pager-line-height-lg, $pager-border-radius-lg)
}

.list-pager-sm {
    @include list-pager-size('sm', $pager-padding-sm, $pager-font-size-sm, $pager-line-height-sm, $pager-border-radius-sm)
}

