@model ListPagerModel
<ul class="pagination shadow ml-5">
    <li class="rounded-0 page-item ">
        <span class="p-1 inline" style="width:auto;">
            <span class="d-inline px-2 ">Page Size:</span>
            @Model.PageSize
        </span>
    </li>
</ul>
