@page
@namespace ListPagerExamples.Areas.ViewComponent.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model VCPostModel
@{
    Layout = "_LayoutForExamples";
    ViewData["Title"] = "View Component Example - POST";
    var pager = Model.Parameters.Pager;
    pager.ShowDropDown = pager.PageCount > pager.MaxPageLinks + 1;
    Model.Parameters.Pager = pager;
}
@section Scripts{
    <script>
        //page scope, not module scope
        let pager
    </script>
    <script type="module">
        let modelState = @Json.Serialize(Model.Parameters);
        import Pager from "../_content/ListPagerRazorLibrary/js/pager.js"    //path in ListPagerRazorLibrary
        pager = new Pager(modelState.pager, {})
        pager.setActivePage(modelState.pager.pageNumber)
        document.addEventListener(Pager.constants.pagingEventName, (e) => {
            let { pageNumber, pageSize } = { ...e.detail.ListPagerModel }
            document.getElementById("pageNumber").value = pageNumber
            pager.postForm()
        })
    </script>
}

@section Notes{
    <dl>
        <dt>
            The POST Demo shows
        </dt>
        <dd>
            <ul>
                <li><p>How to implement a full-page post scenario</p></li>
                <li><p>Use of the <code>ListPagerPostForm</code> to accomodate the post</p></li>
                <li><p>Use of the <code>ShowPageOf</code> property of the C# <code>ListPagerModel</code> to trigger rendering of the <code>ListPagerPageOf</code> View Component.</p></li>
                <li>
                    <p>
                        Use of a formula to determine whether the <code>ShowDropDown</code> property is set to true or false:
                    </p>
                    <p>
                        <code>
                            pager.ShowDropDown = pager.PageCount > pager.MaxPageLinks + 1;
                        </code>
                    </p>
                    <p>
                        Set Page Size to 25 to see the effect
                    </p>
                </li>

            </ul>
        </dd>
    </dl>

}
<div class="col-7 mx-auto">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-between">
                @await Component.InvokeAsync(nameof(ListPagerRazorLibrary.ViewComponents.ListPager), Model.Parameters.Pager)
            </div>
        </div>
    </div>

    <partial name="Components/ListPagerPostForm" , model="Model.Parameters.Pager" />

    <div class="row">
        <div class="mx-auto col">
            <!--this table belongs to the host app, its not a ListPager partial -->
            <partial name="_ListTable" model="@Model.Bloggers" />
        </div>
    </div>
</div>