@page
@namespace ListPagerExamples.Areas.ViewComponent.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model VCPostModel
@{
    Layout = "_LayoutForExamples";
    ViewData["Title"] = "ListPager Examples - View Component POST";

    var pager = Model.Parameters.Pager;
    pager.ShowRecordsOf = pager.IsFiltered;
    pager.ShowPageOf = !pager.IsFiltered;
    pager.ShowDropDown = pager.PageCount > pager.MaxPagerLinks + 1;
    Model.Parameters.Pager = pager;

}
@section Scripts{
    <script>
    let pager
    let modelState = @Json.Serialize(Model.Parameters);
    </script>
    <script type="module">
        import Pager from "/js/pager.js"    //path in ListPagerRazorLibrary
        pager = new Pager(modelState.pager, {})
        pager.setActivePage(modelState.pager.pageNumber)
        document.addEventListener(Pager.constants.pagingEventName, (e) => {
            let { pageNumber, pageSize } = { ...e.detail.ListPagerModel }
            document.getElementById("pageNumber").value = pageNumber
            pager.post()
        })
    </script>
}

@section Notes{
    <p>
        <ul>
            <li class="py-2">
                <code>ListPagerPostForm</code> is used for the POST
            </li>
            <li class="py-2">
                <code>ListPager</code> is the View Component version.
            </li>
            thus, although
            <code>_ListPagerPageOf</code> is overridden by
            <code>ListPagerExamples/Pages/Shared/_ListPagerPageOf.cshtml</code>
            the override has no effect here
            <li class="py-2">
                <code>ListPagerPageSize</code> is overridden by <code>ListPagerExamples/Pages/Shared/Components/ListPagerPageSize</code>
                which removes the input from the Page Size display, making it readonly.
            </li>
            <li class="py-2">
                <code>ListPagerRecords</code> ("N rows of T") is conditional on <code>IsFiltered == true</code>
                but since there is no Search on this page, it is never displayed.
            </li>
        </ul>
    </p>
}

<div class="d-flex justify-content-center">
    @await Component.InvokeAsync("ListPager", Model.Parameters.Pager)
    <partial name="_ListPagerPostForm" , model="Model.Parameters.Pager" />
</div>
<div class="d-flex justify-content-center">
    <div class="col-10">
        <partial name="_ListTable" model="@Model.Bloggers" />
    </div>
</div>
