@model ListPagerModel
<li class="page-item pager-range">
    <span class="pager-range">
        <strong>@Model.FilteredRecordCount</strong> of <strong>@Model.TotalRecords</strong> rows
    </span>
</li>

