@model ListPagerModel
<li id="pager-records" class="page-item pager-range">
    <span>
        <strong>@Model.FilteredRecordCount</strong> of <strong>@Model.TotalRecords</strong> rows
    </span>
</li>

