@model ListPagerModel
@{
    string linkUrl = "";
    int pageStart = Model.Start;
    int pageEnd = Model.End;
    if (pageEnd >= Model.PageCount - 1)
    {
        pageStart = Math.Max(pageEnd - Model.MaxPageLinks + 1, 1);
    }
}

@for (int p = pageStart; p <= pageEnd; p++)
{
    linkUrl = String.Format(AppConstants.PAGE_LINK_FORMAT, p);
    string active = p == Model.PageNumber ? AppConstants.PAGE_LINK_ACTIVE_CLASS : string.Empty;


    @if (p == Model.PageNumber)
    {
        <li id="pager_li_@p" class="page-item  @active">
            <span class="pager-page">
                <a class="page-link" href="#">
                    @p<span class="sr-only">@p</span>
                </a>
            </span>
        </li>
    }
    else
    {
        <partial name="Components/ListPagerItem" model='new ListPagerItemModel {PageNumber=p,Text=p.ToString(), Disabled=false}' />
    }

}

