@model ListPagerDropdownModel
@{
    @if (Model.Increments.Count > 0)
    {
        <li class="page-item">
            <span class="pager-dropdown dropdown">
                <a class="page-link dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </a>
                <span class="dropdown-menu mt-n1 ml-2 shadow" aria-labelledby="dropdownMenuLink">
                    @foreach (int step in Model.Increments)
                    {
                        var last = (step >= Model.PageCount || Model.Increments.Count == 1) ?
                            AppConstants.DROPDOWN_BOUNDARY_CLASS : String.Empty;
                        <a class="dropdown-item pl-2 @last " onclick="pager.goToPage(@step)" href="#">Jump to @step</a>
                    }
                </span>
            </span>
        </li>
    }
    else
    {
        <li class="page-item pager-dropdown">
            <span>&nbsp;</span>
        </li>
    }
}

