@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "ListPagerRazorLibrary Examples";
}
<div class="col-md-8 ml-4">
    <h3 class="my-4">
        ListPagerRazorLibrary Examples
    </h3>
    <p>
        ListPagerRazorLibrary is a List Pager comprised of a set of sass/Bootstrap 4 styled View Components / Partial Views, along with associated models and scripting, wrapped in an Asp.Net Core 3.0 Razor Class Library (RCL).
    </p>
    <p>
        This is not a Blazor library. See the <a href="https://github.com/glburman/ListPagerRazorLibrary">Github Readme</a> for more detailed information.
    </p>
    <p>
        This is the "How To" by way of working examples, links in the Nav Bar. It uses an in-memory database context containing an eclectic crew of bloggers.
    </p>
    <p>
        The <strong>Nav Bar</strong> also provides a dropdown allowing selection/application of the library's predefined themes to the demos.
    </p>
    <p>
        The examples show how, in the context of the pager, to handle full page HTTP POST and GET as well as different Ajax senarios.
    </p>
    <p>
        Aside from the HTTP methodologies, the examples demonstrate the use of various ListPager options, overrides and customizations as described in the notes on each page.
    </p>
</div>
