@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "ListPagerRazorLibrary Examples";
}
<div class="col-md-8 ml-4">
    <h3 class="my-4">
        ListPagerRazorLibrary Examples
    </h3>
    <p>
        ListPagerRazorLibrary is a Bootstrap 4 styled List Pager in an Asp.Net Core 3.0 Razor Class Library (RCL).
        This is not a Blazor library. See the <a href="https://github.com/glburman/ListPagerRazorLibrary">Github Readme</a> for more detailed information.
    </p>
    <p>
        Links to the various examples are in the <strong>Nav Bar</strong> which also provides a theme selection dropdown allowing application of the library's predefined example themes.
        Theme selection affects only the List Pager elements on a given page.
    </p>
    <p>
        The examples use an in-memory database containing an eclectic crew of bloggers to show how, implement the pager in full page HTTP POST and GET senarios, and in various Ajax senarios.
    </p>
    <p>
        The examples also demonstrate the use of various ListPager options, overrides and customization methods as described in the notes on each page,
        along with related scripting.
    </p>

</div>
