@import "../bstrap-imports";
@import "pager-variables-sizing.scss";

/*.list-pager-container {
    max-width: $pagination-container-width-small;
    width: $pagination-container-width-small;
}*/

.pagination {
    border-radius: $pagination-border-radius-small;
    margin: $pagination-margin-small;
    padding: $pagination-padding-small;
    min-width: $pagination-min-width-small;
}

.pagination > li {
    margin: $pagination-margin-small;
}

.pagination > li > a,
.pagination > li > span
.pagination > li > span > a {
    width: auto;
    min-width: $pagination-item-min-width-small;
    padding: $pagination-item-padding-small;
}

.pagination > li.pager-range > span {
    padding: $pagination-range-padding-small;
    line-height: inherit;
    display: block;
    font-size: $pagination-range-font-size-small;
}

.pagination > li.pager-dropdown > span {
    padding: $pagination-dropdown-padding-small;
    min-width: $pagination-dropdown-min-width-small;
}

.pagination > li.pager-dropdown > span > span.dropdown-menu {
    min-width: $pagination-dropdown-min-width-small;
    margin: $pagination-dropdown-margin-small;
    padding: 0px;
}

.pagination > li.pager-dropdown > span > span > a.dropdown-item {
    font-size: $pagination-dropdown-font-size-small;
    padding: $pagination-dropdown-padding-small;
    line-height: $pagination-dropdown-line-height-small;
}


input.pager-page-size {
    line-height: unset;
    height: unset;
    max-height: unset;
    padding: 0px;
    width: 3.5rem;
}


ul.pagination > li.page-item .page-link {
    padding: $pagination-item-padding-small;
}

ul.pagination > li.page-item:last-child .page-link {
    border-radius: $pagination-border-radius-small;
}

ul.pagination > li.page-item:first-child .page-link {
    border-radius: $pagination-border-radius-small;
}
