@import "../bstrap-imports";
@import "pager-variables-sizing.scss";

.list-pager-container {
    max-width: $pagination-container-width-large;
    width: $pagination-container-width-large;
}

.pagination {
    border-radius: $pagination-border-radius-large;
    margin: $pagination-margin-large;
    padding: $pagination-padding-large;
    min-width: $pagination-min-width-large;
    line-height: $pagination-line-height-large;
}

pagination > li {
    margin: $pagination-margin-large;
    
}

.pagination > li > a,
.pagination > li > span
.pagination > li > span > a {
    width: $pagination-item-width-large;
    min-width: $pagination-item-min-width-large;
    padding: $pagination-item-padding-large;
}

.pagination > li.pager-range > span {
    padding: $pagination-range-padding-large;
    display: block;
    font-size: $pagination-range-font-size-large;
}

.pagination > li.pager-dropdown > span {
    padding: 0.5rem 0.75rem 0.50rem 0.60rem;
}

.pagination > li.pager-dropdown > span > span.dropdown-menu {
    /*min-width: $pagination-dropdown-min-width-large;*/
    margin: 0px; /*$pagination-dropdown-margin-large;*/
    padding: 0px;

}

.pagination > li.pager-dropdown > span > span > a.dropdown-item {
    font-size: $pagination-dropdown-font-size-large;
    padding: $pagination-dropdown-item-padding-large;
}

input.pager-page-size {
    /*line-height: unset;
    height: unset;
    max-height: unset;*/
    padding: 3px;
    width: auto
}

li.page-size > span {
    padding-top: .25rem;
}


ul.pagination > li.page-item .page-link {
    /*padding:: $pagination-item-padding-large;*/
    line-height: unset; /* let ul do it*/
}

ul.pagination > li.page-item:last-child .page-link {
    border-top-right-radius: $pagination-border-radius-large;
    border-bottom-right-radius: $pagination-border-radius-large;
}

ul.pagination > li.page-item:first-child .page-link {
    border-top-left-radius: $pagination-border-radius-large;
    border-bottom-left-radius: $pagination-border-radius-large;
}



/*.page-link {
    padding: $pagination-item-padding-large;
    line-height: $pagination-item-line-height-large;
}*/
