@import "../bstrap-imports";
@import "pager-variables-sizing.scss";

.list-pager-container {
    max-width: $pagination-container-width-medium;
    width: $pagination-container-width-medium;
}

.pagination {
    border-radius: $pagination-border-radius-medium;
    margin: $pagination-margin-medium;
    padding: $pagination-padding-medium;
    min-width: $pagination-min-width-medium;
}

pagination > li {
    margin: $pagination-margin-medium;
}

.pagination > li > a,
.pagination > li > span
.pagination > li > span > a {
    width: $pagination-item-width-medium;
    min-width: $pagination-item-min-width-medium;
    padding: $pagination-item-padding-medium;
}

.pagination > li.pager-range > span {
    padding: $pagination-range-padding-medium;
    display: block;
    font-size: $pagination-range-font-size-medium;
}

.pagination > li.pager-dropdown > span {
    padding: $pagination-dropdown-padding-medium;
}

.pagination > li.pager-dropdown > span > span.dropdown-menu {
    /*min-width: $pagination-dropdown-min-width-medium;*/
    margin: $pagination-dropdown-margin-medium;
    padding: 0px;
}

.pagination > li.pager-dropdown > span > span > a.dropdown-item {
    font-size: $pagination-dropdown-font-size-medium;
    padding: $pagination-dropdown-item-padding-medium;
}

input.pager-page-size {
    line-height: unset;
    height: unset;
    max-height: unset;
    padding: 3px;
    width: auto
}

li.page-size > span {
    padding-top: .25rem;
}


ul.pagination > li.page-item .page-link {
    padding: $pagination-item-padding-medium;
}

ul.pagination > li.page-item:last-child .page-link {
    border-top-right-radius: $pagination-border-radius-medium;
    border-bottom-right-radius: $pagination-border-radius-medium;
}

ul.pagination > li.page-item:first-child .page-link {
    border-top-left-radius: $pagination-border-radius-medium;
    border-bottom-left-radius: $pagination-border-radius-medium;
}



/*.page-link {
    padding: $pagination-item-padding-medium;
    line-height: $pagination-item-line-height-medium;
}*/
