@import "../bstrap-imports";

/* large sizing*/
$pagination-container-width-large: 800px;

$pagination-margin-large: 0rem;
$pagination-padding-large: 0rem;
$pagination-border-radius-large: 5px;
$pagination-line-height-large: 1.5;
$pagination-min-width-large: 100%;

$pagination-item-line-height-large: 125;
$pagination-item-width-large: 2.5rem;
$pagination-item-min-width-large: 2.5rem;
$pagination-item-padding-large: .5rem .75rem;

$pagination-range-padding-large: .5rem .5rem;
$pagination-range-font-size-large: 1.0rem;

$pagination-dropdown-font-size-large: 1.0rem;
$pagination-dropdown-padding-large: .38rem .35rem .38rem .25rem;
$pagination-dropdown-item-padding-large: .20rem;
$pagination-dropdown-min-width-large: 10.0rem;
$pagination-dropdown-margin-large: -.25rem 0.0rem 0.0rem .20rem;


/* medium sizing */
$pagination-container-width-medium: 600px;

$pagination-margin-medium: 0rem;
$pagination-padding-medium: 0rem;
$pagination-border-radius-medium: 4px;
$pagination-line-height-medium: 1.0;
$pagination-min-width-medium: 100%;

$pagination-item-line-height-medium: 1.0;
$pagination-item-width-medium: auto;
$pagination-item-min-width-medium: 2.0rem;
$pagination-item-padding-medium: 0.50rem 0.50rem;

$pagination-range-padding-medium: .38rem 0.50rem;
$pagination-range-font-size-medium: inherit;

$pagination-dropdown-padding-medium: .38rem .35rem .38rem .25rem;
$pagination-dropdown-item-padding-medium: .20rem;
$pagination-dropdown-font-size-medium: 0.90rem;
$pagination-dropdown-min-width-medium: 10.0rem;
$pagination-dropdown-margin-medium: -.25rem 0.0rem 0.0rem .20rem;


/* small sizing */


$pagination-margin-small: 0rem;
$pagination-padding-small: 0rem;
$pagination-border-radius-small: 0rem;
$pagination-line-height-small: 1.0;
$pagination-min-width-small: 100%;

$pagination-item-line-height-small: unset;
$pagination-item-width-small: auto;
$pagination-item-min-width-small: 2.0rem;
$pagination-item-padding-small: .25rem .25rem .25rem .25rem;

$pagination-range-padding-small: .2rem .5rem .2rem .5rem;
$pagination-range-font-size-small: 0.90rem;

$pagination-dropdown-padding-small: .13rem .3rem .13rem .15rem;
$pagination-dropdown-line-height-small: 1.0;
$pagination-dropdown-font-size-small: 0.90rem;
$pagination-dropdown-min-width-small: 0.0rem;
$pagination-dropdown-margin-small: 0.0rem;








