/* normal*/
/* large sizing*/
/* small sizing */
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem; }

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6; }
  .page-link:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6; }
  .page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem; }

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem; }

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff; }

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6; }

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5; }

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem; }

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem; }

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5; }

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem; }

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem; }

/* SIZING SMALL*/
/* SIZING LARGE */
li.page-item.pager-range {
  padding: 0.50rem 0.75rem;
  margin-right: 2px;
  line-height: 1.15;
  text-align: center; }

li.pager-dropdown {
  width: 2rem;
  padding: .5rem .4rem 0 0;
  line-height: 1.25;
  border: 1px solid;
  border-color: #dee2e6;
  text-align: center; }

li.pager-dropdown > span.dropdown > .dropdown-toggle:active {
  /*?? Without this, clicking will make it sticky ??*/
  /*pointer-events: none;*/ }

.list-pager-lg li.page-item.pager-range {
  font-size: 1.15rem;
  /* 
           this was intended to force wrapping in smaller viewports
           but there has to be a more natural/fluid  way

           max-height: 2.8rem;

       */
  min-width: 9rem;
  padding: 0rem;
  padding-top: 0.5rem;
  /*  margin: 0rem;*/
  line-height: 1.5; }

.list-pager-lg li.pager-dropdown {
  min-width: 2.1rem;
  padding: 0.60rem 0.40rem 0rem 0rem;
  /* 
           this was intended to force wrapping in smaller viewports
           but there has to be a more natural/fluid  way
           max-height: 2.8rem;

       */ }

.list-pager-lg .dropdown:hover > .dropdown-menu {
  top: 90%; }

.list-pager-lg .dropdown-menu {
  min-width: 10rem;
  font-size: 1.15rem; }

.list-pager-lg li.pager-page-size > span {
  line-height: 1.5;
  /*font-size: $font-size;
        margin-right: 10px;*/ }

.list-pager-lg input.pager-page-size {
  height: 2.6rem;
  font-size: 1.15rem; }

.list-pager-lg .page-link {
  padding: 0.5rem 0.75rem;
  font-size: 1.15rem;
  line-height: 1.5; }

.list-pager-lg .page-item:first-child .page-link {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.list-pager-lg .page-item:last-child .page-link {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.list-pager-sm li.page-item.pager-range {
  font-size: 0.9rem;
  height: 1.6rem;
  min-width: 7rem;
  padding-top: 0.25rem; }

.list-pager-sm li.pager-dropdown {
  width: 1.6rem;
  padding: 0.20rem 0.40rem 0rem 0rem;
  max-height: 1.6rem; }

.list-pager-sm .dropdown:hover > .dropdown-menu {
  top: 60%; }

.list-pager-sm .dropdown-menu {
  min-width: 6rem;
  font-size: .90rem;
  margin: 0rem;
  padding: 0rem; }

.list-pager-sm li.pager-page-size > span {
  line-height: 1rem;
  font-size: 0.9rem;
  margin-right: 10px; }

.list-pager-sm input.pager-page-size {
  top: 2px;
  height: 75%;
  width: 4rem;
  font-size: 0.9rem; }

.list-pager-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
  line-height: 1rem; }

.list-pager-sm .page-item:first-child .page-link {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem; }

.list-pager-sm .page-item:last-child .page-link {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem; }

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem; }

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6; }
  .page-link:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6; }
  .page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem; }

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem; }

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff; }

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6; }

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5; }

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem; }

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem; }

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5; }

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem; }

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem; }

/* SIZING SMALL*/
/* SIZING LARGE */
.page-link {
  color: Aqua;
  background-color: Black;
  border-color: Fuchsia; }
  .page-link:hover {
    color: Yellow;
    background-color: Fuchsia;
    border-color: Yellow; }

.page-item.active .page-link {
  color: Aqua;
  background-color: Black;
  border-color: Fuchsia;
  opacity: 0.75; }

.page-item.active .page-link .page-item:hover {
  color: Aqua; }

.page-item.disabled .page-link {
  color: Aqua;
  background-color: Black;
  border-color: Fuchsia;
  opacity: 0.75; }

li.pager-range {
  color: Lime;
  background-color: Black;
  border-color: Fuchsia; }

li.pager-dropdown > span > span.dropdown-menu {
  border-color: Lime;
  background-color: Purple; }

li.pager-dropdown {
  background-color: Black;
  border-color: Fuchsia; }

li.pager-dropdown > span > span > a.dropdown-item {
  color: Aqua;
  background-color: Black;
  border-color: Fuchsia; }
  li.pager-dropdown > span > span > a.dropdown-item:hover {
    color: Yellow;
    background-color: Fuchsia;
    border-color: Yellow; }

a.dropdown-toggle {
  color: Aqua; }

li.pager-page-size {
  color: Purple; }

input.pager-page-size {
  border-color: Fuchsia;
  background-color: Purple; }
