@import "bstrap-imports";

$link-highlight-color: Lime;
$link-color: $gray-100;

$row-odd-background: #dadada;
$row-even-background: $gray-200;

$gray-450: #bbb;

$table-header-color: $gray-200;
$table-header-background: $gray-800;
$table-header-line-height: 1.25rem;

$nav-link-color: $gray-200;

$shadow-standard-color: $gray-600;

