@import "bs-imports";
@import "variables";

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination > li {
    display: inline;
}

.pagination > li > a,
.pagination > li > span {
    display: inline;
    width: 2.5rem;
    min-width: 2.5rem;
    position: relative;
    float: left;
    margin-left: -1px;
    text-decoration: none;
}

.pagination > li > span :hover {
    background-color: $page-item-background-hover;
}

.pagination > li.pager-range > span {
    min-width: 150px;
    width: 150px;
    padding: .5rem 0.75rem 0.5rem 1.0rem;
    line-height: 1.25;
    border: $page-item-border;
    text-align: left;
}

.pagination > li.pager-dropdown > span {
    padding: .5rem 0.5rem 0.5rem .65rem;
    line-height: 1.25;
    border: $page-item-border;
    text-align: left;
}

/* position jump dropdown options*/
#pager > ul:nth-child(1) > li.page-item.pager-dropdown > span > span {
    top: 1.5rem;
    font-size: .9rem;
}

.page-link {
    color: $page-link-color;
}

.page-link:focus {
    box-shadow: none;
}

.page-link:hover {
    color: $page-link-color-hover;
}

.page-item.disabled {
    opacity: $page-item-disabled-opacity;
}

.page-item .page-link {
    background-color: $page-link-background;
}

.page-item.active .page-link {
    background-color: $page-link-background-active;
    border-color: $page-link-color-active;
}

span.dropdown-menu {
    background-color: $page-link-background-active;
}

.dropdown-menu a {
    color: $page-link-color-active;
}

.dropdown-menu a:hover {
    text-decoration: none;
    color: $link-highlight-color;
}

.dropdown:hover > .dropdown-menu {
    display: block;
    top: 100%;
    background-color: $page-link-background-active;
}

.dropdown > .dropdown-menu > .dropdown-item:hover {
    background-color: $pager-dropdown-item-background-hover;
}

.dropdown-item {
    border-top: var(--standard-border);
}

.dropdown-item.last {
    border-bottom: var(--standard-border);
}
